# 설정 
*.env

# 데이터
data/original/*
!data/original/
!data/original/.gitkeep

data/processed/
data/yolo_dataset/

# 캐시
.idea/
.vscode/
.DS_Store
__pycache__/
*.pyc
*.pt
condaenv*.txt

# 산출물
results/*
!results/submission/
results/submission/*
!results/submission/.gitkeep
!results/yolo_train_20260209_12_24/
!results/yolo_train_20260209_12_24/weights/best.pt
!results/yolo_train_20260209_12_24/weights/last.pt
!results/submission/submission_yolov8m_epoch100.csv
!results/submission/submission_20260212_1321_yolov8m_data.log
!results/README.md
